<section class="screen-section">
    <div class="timer-container">
        <div class="timer-container__buttons">
            <div class="timer-container__buttons__start"></div>
            <div class="timer-container__buttons__stop"></div>
        </div>
        <div class="timer-container__time-container">
            <span class="timer-container__time-container__title">Laufende Zeit:</span>
            <span class="timer-container__time-container__time">1:00:00</span>
        </div>
        <div class="timer-container__buttons__overview">
            <button class="btn">Start</button>
        </div>
    </div>
</section>
