<section class="screen-section">
    <div class="overview-container">
        <a routerLink="/timer/{{userId}}" class="overview-container__navigation-btn">
            <span class="overview-container__navigation-btn__arrow"></span>
            <span class="overview-container__navigation-btn__title">Start/Stop</span>
        </a>
        <form [formGroup]="workdayForm" (ngSubmit)="fetchWorkTimes()" class="overview-container__form">
            <div class="overview-container__form__datepicker-container">
                <h2>Datum wählen</h2>
                <input
                    class="overview-container__form__datepicker-container__datepicker"
                    type="date"
                    [(ngModel)]="currentDate"
                    formControlName="workdate"
                >
            </div>
            <button class="btn">OK</button>
        </form>
        <app-show-times *ngIf="getDate"></app-show-times>
    </div>
</section>
