.overview-container{
    display:flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    background-color:#fff;
    font-family: 'IBM';
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width:900px;
    height:500px;

    &__head{
        display: flex;
        justify-content: center;
        align-items:center;
        border-top-right-radius: 2rem;
        color:#fff;
        width:100%;
        height:100px;
        padding:1rem;
        background-image: linear-gradient(90deg, blue, lightblue);
        position: relative;

        &__navigation{
            font-size:1.25rem;
        }
    }


    &__body{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
        height:100%;
        padding:1rem;


        &__timelist-container{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width:300px;
            height:200px;
            padding:1rem;
            color:darkblue;
            font-size:1.1rem;

            &__title{
                margin-bottom:1rem;
            }

            &__time-list{
                display:flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                list-style: none;
                margin:0;
                padding:0;

                &__element{
                    padding:0.1rem;
                }
            }
        }
    }
    

    &__navigation-btn{
        display:flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        top:auto;
        left:1rem;
        
        &__arrow{
            width:0;
            height:0;
            border-top:10px solid transparent;
            border-bottom:10px solid transparent;
            border-right:10px solid white;
            margin-right:8px;
        }

        &__title{
            color:#fff;
        }
    }

    &__form{
        display:flex;
        justify-content: space-between;
        align-items:center;
        flex-direction:column;
        width:300px;
        height:200px;

        &__datepicker-container{
            display:flex;
            justify-content: center;
            align-items:center;
            flex-direction:column;
            width:100%;
        }
    }
}